<section class="abaut" id="abaut">
    <div class="container">
        <h2 class="abaut__title">О студии</h2>
        <div class="grid">
            <div class="abaut__left">
                <p class="abaut__text">В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного
                    уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения
                    кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической
                    и кадровой базы.Приятно,граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.</p>

            </div>
            <div class="abaut__right">
                <picture>
                    <source srcset="img/abaut_foto-mobail.jpg" media="(max-width: 760px)">
                    <source srcset="img/abaut_foto-tablet2.jpg" media="(max-width: 1000px)">
                    <source srcset="img/abaut_foto-tablet.jpg" media="(max-width: 1320px)">
                    <img class="abaut__foto-indent" src="img/abaut_foto.jpg" alt="фотоаппарат">
                </picture>
                <p class="abaut__form-text">Подписаться на рассылку</p>
                <form class="abaut__form" action="https://jsonplaceholder.typicode.com/posts" autocomplete="on" method="POST">
                    <div class="abaut__input-box">
                        <input class="abaut__input" type="email" name="mail" placeholder="E-mail" data-validate-field="mail">
                    </div>
                    <button type="submit" class="btn-reset abaut__btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>
