<footer class="footer__mob">
  <div class="container grid footer">
    <div class="footer__left footer__left-desk">
      <svg class="header__logo reset">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
      <p class="footer__left-text">Фотостудия High pass® 2018-2020</p>
    </div>
    <div class="footer__center">
      <p class="footer__center-text">Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.
      </p>
      <p class="footer__name">© Имоджен Каннингем</p>
    </div>
    <div class="footer__rigth">
      <p class="footer__center-text">Больше интересного:</p>
      <div class="footer__soc">
        <div class="soc__link indent">
          <a href="https://www.instagram.com/" target="_blank" aria-label="инстаграмм"><svg class="insta1">
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg></a>
        </div>
        <div class="soc__link indent">
          <a href="https://www.facebook.com/" target="_blank" aria-label="фуйсбук"><svg class="fb1">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg></a>
        </div>
        <div class="soc__link indent">
          <a href="https://vk.com/" target="_blank" aria-label="вконтакте"><svg class="vk1">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__left footer__left-mobail">
    <svg class="header__logo reset footer__logo-mobail">
      <use xlink:href="img/sprite.svg#logo"></use>
    </svg>
    <p class="footer__left-text">Фотостудия High pass® 2018-2020</p>
  </div>
</footer>
