<header class="header">
    <div class="container header-center grid__header">
        <div class="header__logo-box">
            <svg class="header__logo" aria-label="логотип">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
        </div>
        <div class="header__tablet-box">
            <a class="header__phone__link header__phone-tablet header__phone-mob" href="tel:+749542423532">
                <svg class="contacts__svg-phone header__phone-mob">
          <use xlink:href="img/sprite.svg#phone_icon"></use>
        </svg>+7 (495) 42-423-532
            </a>
            <button class="btn-reset header__search-mobail">
        <svg class="header__search-tablet">
          <use xlink:href="img/sprite.svg#search_icon"></use>
        </svg>
      </button>
        </div>
        <nav class="header__nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__item" href="#abaut">О студии</a>
                </li>
                <li>
                    <a class="nav__item" href="#projects">Наши проекты</a>
                </li>
                <li>
                    <a class="nav__item" href="#services">Услуги</a>
                </li>
                <li>
                    <a class="nav__item" href="#master">Мастер-классы</a>
                </li>
                <li>
                    <a class="nav__item" href="#contacts">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__soc">
            <div class="soc__link indent">
                <a class="header__link" href="https://www.instagram.com/" target="_blank" aria-label="инстаргам"><svg
            class="insta1">
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg></a>
            </div>
            <div class="soc__link indent">
                <a class="header__link" href="https://www.facebook.com/" target="_blank" aria-label="фейсбук"><svg class="fb1">
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg></a>
            </div>
            <div class="soc__link indent">
                <a class="header__link" href="https://vk.com/" target="_blank" aria-label="вконтакте"><svg class="vk1">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg></a>
            </div>
        </div>
    </div>
    <div class="header__lower-bg ">
        <div class="container header__lower">
            <button class="header__burger-none header__burger ">
      </button>
            <div class="header__menu-mobail">
                <button class="header__close-burger" aria-label="закрыть"></button>
                <ul class="nav__list-mobail">
                    <li class="nav-mobail">
                        <a class="nav__item" href="#abaut">О студии</a>
                    </li>
                    <li class="nav-mobail">
                        <a class="nav__item" href="#projects">Наши проекты</a>
                    </li>
                    <li class="nav-mobail">
                        <a class="nav__item" href="#services">Услуги</a>
                    </li>
                    <li class="nav-mobail">
                        <a class="nav__item" href="#master">Мастер-классы</a>
                    </li>
                    <li class="nav-mobail">
                        <a class="nav__item" href="#contacts">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="phone">
                <a class="phone__link" href="tel:+749542423532">
                    <svg class="svg_phone">
            <use xlink:href="img/sprite.svg#phone_icon"></use>
          </svg>+7 (495) 42-423-532
                </a>
            </div>
            <nav class="header__nav2">
                <ul class="nav__list">
                    <li>
                        <a class="nav__item" href="#abaut">О студии</a>
                    </li>
                    <li>
                        <a class="nav__item" href="#projects">Наши проекты</a>
                    </li>
                    <li>
                        <a class="nav__item" href="#services">Услуги</a>
                    </li>
                    <li>
                        <a class="nav__item" href="#master">Мастер-классы</a>
                    </li>
                    <li>
                        <a class="nav__item" href="#contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
            <form class="search-form" action="#">
                <button class="search-btn btn-reset" type="submit" aria-label="поиск">
          <svg>
            <use xlink:href="img/sprite.svg#search_icon"></use>
          </svg>
        </button>
                <input class="search" type="search" name="q" placeholder="Что будем иcкать?">

            </form>
        </div>
    </div>
</header>
