<section class="hero">
    <div class="container grid">
        <div class="hero__foto1">
            <button class="button__hashtag size" tabindex="-1">#мастеркласс</button>
            <div class="hero__foto-content">
                <p class="hero__small-text">Мастер-класс от Игоря Робова</p>
                <h1 class="hero__title">Неоновый фотосет 2.0<br> 7 июля 20:00</h1>
                <button class="btn-reset hero__btn">Узнать больше</button>
            </div>

        </div>
        <div class="hero__text-grid">
            <p class="hero__text">Работы участников предыдущего мастер-класса</p>
            <picture>
                <source srcset="img/main_foto-2-mobail.jpg" media="(max-width: 760px)">
                <source srcset="img/main_foto-2-tablet2.jpg" media="(max-width: 1000px)">
                <source srcset="img/main_foto-2-tablet.jpg" media="(max-width: 1320px)">
                <img class="hero__foto2" src="img/main_foto-2.jpg" alt="девушка1">
            </picture>
        </div>
        <img class="hero__foto3" src="img/main_foto-3.jpg" alt="девушка2">
        <img class="hero__foto4" src="img/main_foto-4.jpg" alt="девушка">
        <div class="hero__foto-box">
            <picture>
                <source srcset="img/main_foto-3-mobail.jpg" media="(max-width: 760px)">
                <img class="hero__foto3-tablet" src="img/main_foto-3-tablet2.jpg" alt="девушка3">
            </picture>
            <picture>
                <source srcset="img/main_foto-4-mobail.jpg" media="(max-width: 760px)">
                <img class="hero__foto4-tablet" src="img/main_foto-4-tablet2.jpg" alt="девушка3">
            </picture>
        </div>
    </div>
</section>
