<section class="master" id="master">
    <div class="container">
        <h2 class="master__title">Мастер-классы</h2>
        <div class="grid master__grid">
            <div class="master__foto">
                <picture>
                    <source srcset="img/master__mobail.jpg" media="(max-width: 760px)">
                    <source srcset="img/master__tablet2.jpg" media="(max-width: 1000px)">
                    <source srcset="img/master__tablet.jpg" media="(max-width: 1320px)">
                    <img src="img/master.jpg" alt="фотоаппарат">
                </picture>
            </div>
            <div class="master__center">
                <div class="flex">
                    <span class="master__data">8&nbsp;июня</span>
                    <span class="master__watch">15:00</span>
                </div>
                <h2 class="master__small-title">Пленка для начинающих</h2>
                <p class="master__text">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: семантический разбор внешних противодействий, в своём классическом представлении.
                </p>
                <button class="btn-reset hero__btn">Узнать больше</button>
            </div>

            <div class="master__tablet">
                <div class="flex master__small-foto">
                    <img class="master__foto2" src="img/master__small1-tablet.jpg" alt="фото">
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">9 июня</span>
                            <span class="master__watch">15:00</span>
                        </div>
                        <p class="master__small-text">Ретушь. Продвинутый уровень</p>
                    </div>
                </div>
                <div class="flex master__small-foto">
                    <img class="master__foto2" src="img/master__small2-tablet.jpg" alt="фото">
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">10 июня</span>
                            <span class="master__watch">16:00</span>
                        </div>
                        <p class="master__small-text">Портретная съемка. Свет</p>
                    </div>
                </div>
            </div>
            <div class="master__tablet">
                <div class="flex master__small-foto">
                    <img class="master__foto2" src="img/master__small3-tablet.jpg" alt="фото">
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">11 июня</span>
                            <span class="master__watch">16:00</span>
                        </div>
                        <p class="master__small-text">Макросъемка. Проблемы и нюансы</p>
                    </div>
                </div>
                <div class="flex master__small-foto">
                    <img class="master__foto2" src="img/master__small4-tablet.jpg" alt="фото">
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">13 июня</span>
                            <span class="master__watch">18:00</span>
                        </div>
                        <p class="master__small-text">Творческая ретушь для начинающих</p>
                    </div>
                </div>
            </div>
            <div class="master__left">
                <div class="flex master__small-foto master__order1">
                    <picture>
                        <source srcset="img/master__small1-tablet.jpg" media="(max-width: 760px)">
                        <img class="master__foto2" src="img/master__small1.jpg" alt="фото">
                    </picture>
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">9 июня</span>
                            <span class="master__watch">15:00</span>
                        </div>
                        <p class="master__small-text">Ретушь. Продвинутый уровень</p>
                    </div>
                </div>
                <div class="flex master__small-foto master__order2">
                    <picture>
                        <source srcset="img/master__small2-tablet.jpg" media="(max-width: 760px)">
                        <img class="master__foto2" src="img/master__small2.jpg" alt="фото">
                    </picture>
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">10 июня</span>
                            <span class="master__watch">16:00</span>
                        </div>
                        <p class="master__small-text">Портретная съемка. Свет</p>
                    </div>
                </div>
                <div class="flex master__small-foto master__order3">
                    <picture>
                        <source srcset="img/master__small3-tablet.jpg" media="(max-width: 760px)">
                        <img class="master__foto2" src="img/master__small3.jpg" alt="фото">
                    </picture>
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">11 июня</span>
                            <span class="master__watch">16:00</span>
                        </div>
                        <p class="master__small-text">Макросъемка. Проблемы и нюансы</p>
                    </div>
                </div>
                <div class="flex master__small-foto master__order4">
                    <picture>
                        <source srcset="img/master__small4-tablet.jpg" media="(max-width: 760px)">
                        <img class="master__foto2" src="img/master__small4.jpg" alt="фото">
                    </picture>
                    <div class="master__small-box">
                        <div class="flex">
                            <span class="master__data">13 июня</span>
                            <span class="master__watch">18:00</span>
                        </div>
                        <p class="master__small-text">Творческая ретушь для начинающих</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
