<section class="projects container" id="projects">
    <div class="projects__select-mobail">
        <h2 class="projects__projects">Наши проекты</h2>
        <div class="container grid-select-mob" id="flag">
            <button class="btn-reset tabs-btn2 select__btn select__activ select__btn-select1" data-path="three">1</button>
            <button class="btn-reset tabs-btn2 select__btn select__btn-select2" data-path="foor">2</button>
        </div>
    </div>
    <div class="content-none2 content-activ2" data-target="three">
        <div class="grid">
            <div class="projects__card-size projects__card1 projects__content1">
                <button class="button__hashtag" tabindex="-1">#пейзаж</button>
                <p class="projects__card-text">Синтетически, смешаны с не уникальными данными до степени...</p>
                <span class="projects__data data-opacity">16 июня</span>
            </div>
            <div class="projects__card-size projects__card2 projects__content2">
                <button class="button__hashtag" tabindex="-1">#портрет</button>
                <p class="projects__card-text">В своём стремлении улучшить опыт мы упускаем, что явные...</p>
                <span class="projects__data data-opacity">28 мая</span>
            </div>
            <div class="projects__card-size projects__card3 projects__content3">
                <button class="button__hashtag" tabindex="-1">#предмет</button>
                <p class="projects__card-text projects__tablet-text">Равным образом, высокое качество позиционных...</p>
                <span class="projects__data data-opacity">14 мая</span>
            </div>
            <div class="projects__card-size projects__card11 projects__content11 projects__tablet"><button class="button__hashtag" tabindex="-1">#пейзаж</button>
                <p class="projects__card-text">Равным образом, сложившаяся структура организации...</p>
                <span class="projects__data data-opacity">15 февраля</span>
            </div>
            <div class="projects__card-size projects__card4 projects__content4">
                <div style="justify-content: space-between;" class="flex"><span class="projects__data data__white projects__none">9&nbsp;апреля</span><button class="zeroing button__hashtag" tabindex="-1">#fuji</button></div>
                <span class="projects__data data__white projects__mobail">9&nbsp;апреля</span>
                <h3 class="projects__title">Cемантический<br> разбор</h3>
                <p class="projects__text">В рамках спецификации современных стандартов, интерактивные прототипы</p>
                <button class="btn-reset projects__btn">О проекте</button>
            </div>
            <div class="projects__card-size projects__card5 projects__content5">
                <div style="justify-content: space-between;" class="flex"><span class="projects__data data__white projects__none">9&nbsp;апреля</span><button class="button__hashtag zeroing" tabindex="-1">#проектзабвение</button></div>
                <span class="projects__data data__white projects__mobail">20&nbsp;марта</span>
                <h3 class=" projects__title">Забвение</h3>
                <p class="projects__text">Играет важную роль в формировании глубокомысленных рассуждений</p>
                <button class="btn-reset projects__btn">О проекте</button>
            </div>
            <div class="projects__card-size projects__card6 projects__content6"><button class="button__hashtag" tabindex="-1">#ретушь</button>
                <p class="projects__card-text">Как принято считать, многие известные личности и по сей день остаются уделом либералов...
                </p>
                <span class="projects__data data-opacity">9 марта</span>
            </div>
            <div class="projects__card-size projects__card7 projects__content7"><button class="button__hashtag" tabindex="-1">#портрет</button>
                <p class="projects__card-text">С учётом сложившейся международной обстановки, новая модель организационной...
                </p>
                <span class="projects__data data-opacity">1 марта</span>
            </div>
        </div>
    </div>





    <!-- вторая секция проэкты -->

    <div class="content-none2" data-target="foor">
        <div class="grid">
            <div class="projects__card-size projects__card5 projects__content8">
                <div style="justify-content: space-between;" class="flex"><span class="projects__data data__white projects__none">24&nbsp;февраля</span><button class="button__hashtag zeroing" tabindex="-1">#портрет</button>
                </div>
                <span class="projects__data data__white projects__mobail">24&nbsp;февраля</span>
                <h3 class="projects__title">Спорная точка зрения</h3>
                <p class="projects__text">Ясность нашей позиции очевидна: убеждённость некоторых оппонентов</p>
                <button class="btn-reset projects__btn">О проекте</button>
            </div>
            <div class="projects__card-size projects__card6 projects__content9"><button class="button__hashtag" tabindex="-1">#ретушь</button>
                <p class="projects__card-text projects__card-text-2">Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов...
                </p>
                <span class="projects__data data-opacity">20 февраля</span>
            </div>
            <div class="projects__card-size projects__card7 projects__content10"><button class="button__hashtag" tabindex="-1">#портрет</button>
                <p class="projects__card-text">Прежде всего, повышение уровня гражданского сознания говорит о возможностях приоритизации...
                </p>
                <span class="projects__data data-opacity">18 февраля</span>
            </div>

            <div class="projects__card-size projects__card1 projects__content11 projects__tablet2"><button class="button__hashtag" tabindex="-1">#пейзаж</button>
                <p class="projects__card-text">Равным образом, сложившаяся структура организации...</p>
                <span class="projects__data data-opacity">15 февраля</span>
            </div>
            <div class="projects__card-size projects__card2 projects__content12"><button class="button__hashtag" tabindex="-1">#предмет</button>
                <p class="projects__card-text">Безусловно,&nbsp;реализация намеченных плановых заданий обеспечивает...</p>
                <span class="projects__data data-opacity">10 февраля</span>
            </div>
            <div class="projects__card-size projects__card3 projects__content13"><button class="button__hashtag" tabindex="-1">#портрет</button>
                <p class="projects__card-text">Безусловно, курс на социальный национальный...</p>
                <span class="projects__data data-opacity">7 февраля</span>
            </div>
            <div class="projects__card-size projects__card4 projects__content14">
                <div style="justify-content: space-between;" class="flex"><span class="projects__data data__white projects__none">2&nbsp;февраля</span><button class="button__hashtag zeroing zeroing-mob" tabindex="-1">#проектджаз</button>
                </div><span class="projects__data data__white projects__mobail">2&nbsp;февраля</span>
                <h3 class="projects__title">Задания по разработке<br> своевременного</h3>
                <p class="projects__text">Повседневная практика показывает, что сложившаяся структура организации играет важную роль
                </p>
                <button class="btn-reset projects__btn">О проекте</button>
            </div>
        </div>
    </div>
</section>
