<section class="services container" id="services">
    <div class="box1">
        <div class="border"></div>
        <h2 class="services__title-mob">Услуги студии</h2>
        <ul class="services__tab-all" id="flag2">
            <li>
                <button class="tabs-btn btn-reset color services__activ" data-path="one">Основной
          перечень</button>
            </li>
            <li><button class="tabs-btn btn-reset color" data-path="two">Услуги по ретуши</button></li>
        </ul>
    </div>
    <div class="content-none content-activ contant__table" data-target="one">
        <div class="grid__all">
            <div class="grid__left">
                <article class="services__article">
                    <div class="box3">
                        <picture>
                            <source srcset="img/services_foto1_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services_foto1_table768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services_foto1_table.jpg" media="(max-width: 1320px)">
                            <img src="img/services_foto1.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="box4">
                        <h2 class="services__small-title">Высокий&nbsp;уровень&nbsp;вовлечения</h2>
                        <p class="services__text services__text-tablet">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством...</p>
                        <p class="services__text services__text-desk">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.</p>
                        <a class="services__link focus" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article">
                    <div class="box3">
                        <picture>
                            <source srcset="img/services_foto2_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services_foto2_table768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services_foto2_table.jpg" media="(max-width: 1320px)">
                            <img src="img/services_foto2.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="box4">
                        <h2 class="services__small-title">Диаграммы связей</h2>
                        <p class="services__text services__text-tablet">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.</p>
                        <p class="services__text services__text-desk">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.</p>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article">
                    <div class="box3">
                        <picture>
                            <source srcset="img/services_foto3_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services_foto3_table768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services_foto3_table.jpg" media="(max-width: 1320px)">
                            <img src="img/services_foto3.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="box4">
                        <h2 class="services__small-title">Высокотехнологичная концепция</h2>
                        <p class="services__text services__text-desk">В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих паттернов.</p>
                        <p class="services__text services__text-tablet">В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих...</p>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article">
                    <div class="box3">
                        <picture>
                            <source srcset="img/services_foto4_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services_foto4_table768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services_foto4_table.jpg" media="(max-width: 1320px)">
                            <img src="img/services_foto4.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="box4">
                        <h2 class="services__small-title">Сложившаяся структура организации</h2>
                        <p class="services__text">Кстати, сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.
                        </p>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article">
                    <div class="box3">
                        <picture>
                            <source srcset="img/services_foto5_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services_foto5_table768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services_foto5_table.jpg" media="(max-width: 1320px)">
                            <img src="img/services_foto5.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="box4">
                        <h2 class="services__small-title">Внутренние резервы и ресурсы</h2>
                        <p class="services__text services__text-tablet">Банальные,&nbsp;но&nbsp;неопровержимые&nbsp;выводы, а&nbsp;также&nbsp;ключевые&nbsp;особенности структуры проекта являются только методом.
                        </p>
                        <p class="services__text services__text-desk">Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта являются только методом.</p>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
            </div>
            <div class="grid__rigth">
                <div class="services__stock services__stock-one">
                    <div class="services__stock-tablet768">
                        <div>
                            <h4 class="services__discount">Акция!</h4>
                            <p class="services__discount__text">Только в июне</p>
                        </div>
                        <svg class="services__duscount-img">
              <use xlink:href="img/sprite.svg#discount"></use>
            </svg>
                    </div>
                    <p class="services__small-text">1,5 часа портретной съемки + ретушь 10 снимков</p>
                    <button class="btn-reset hero__btn">Узнать больше</button>
                </div>
                <div class="services__grid-right">
                    <h2 class="services__title2">Выполненные работы</h2>
                    <div class="services__rigth-box services__box-size">
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works1-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works1-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works1.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works2-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works2-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works2.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works7-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works3-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works3.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works8-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works4-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works4.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works4-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works5-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works5.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works14-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works6-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works6.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works3-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works7-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works7.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works5-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works8-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works8.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works9-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works9-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works9.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works13-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works10-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works10.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works12-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works11-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works11.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works16-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works12-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works12.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works6-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works13-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works13.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works10-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works14-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works14.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works11-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works15-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works15.jpg" alt="фото">
                            </picture>
                        </div>
                        <div class="services__rigth">
                            <picture>
                                <source srcset="img/completed_works15-mobail.jpg" media="(max-width: 760px)">
                                <source srcset="img/completed_works16-table.jpg" media="(max-width: 1320px)">
                                <img src="img/completed_works16.jpg" alt="фото">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- второй блок -->
    <div class="content-none" data-target="two">
        <div class="grid__all">
            <div class="grid__left2">

                <article class="services__article-2 services__position1">
                    <div class="box2__3 services__box1">
                        <picture>
                            <source srcset="img/services2_foto1-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto1-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto1-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto1.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="box2__4 box2__4-tablet">
                        <h2 class="services__small-title">Принимая во внимание показатели</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position2">
                    <div class="box2__3 services__box2">
                        <picture>
                            <source srcset="img/services2_foto2_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto2-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto2-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto2.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Также как высокое качество...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Таким образом, выбранный нами...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position3">
                    <div class="box2__3 services__box3">
                        <picture>
                            <source srcset="img/services2_foto3_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto3-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto3-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto3.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Сделанные на базе аналитики выводы...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Также как высокое качество...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position4">
                    <div class="box2__3 services__box4">
                        <picture>
                            <source srcset="img/services2_foto4_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto4-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto4-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto4.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Сделанные на базе аналитики выводы...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Безусловно, семантический разбор...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position5">
                    <div class="box2__3 services__box5">
                        <picture>
                            <source srcset="img/services2_foto5-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto5-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto5-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto5.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Задача организации, в особенности...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Внезапно, предприниматели в интернете...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position6">
                    <div class="box2__3 services__box6">
                        <picture>
                            <source srcset="img/services2_foto6_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto6-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto6-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto6.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Таким образом, выбранный нами...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Есть над чем подумать: активные...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position7">
                    <div class="box2__3 services__box7">
                        <picture>
                            <source srcset="img/services2_foto7-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto7-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto7-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto7.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Безусловно, семантический...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Сделанные на базе аналитики выводы...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position8">
                    <div class="box2__3 services__box8">
                        <picture>
                            <source srcset="img/services2_foto8_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto8-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto8-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto8.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Есть над чем подумать: активные...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Как принято считать, сторонники...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position9">
                    <div class="box2__3 services__box9">
                        <picture>
                            <source srcset="img/services2_foto9_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto9-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto9-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto9.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet">
                            <h2 class="services__small-title">Как принято считать, сторонники...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Задача организации, в особенности...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
                <article class="services__article-2 services__position10">
                    <div class="box2__3 services__box10">
                        <picture>
                            <source srcset="img/services2_foto10_mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/services2_foto10-tablet768.jpg" media="(max-width: 1000px)">
                            <source srcset="img/services2_foto10-tablet.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/services2_foto10.jpg" alt="фото">
                        </picture>
                        <div class="services__text-tablet services__text-mobail">
                            <h2 class="services__small-title services__size">Активно развивающиеся...</h2>
                            <a class="services__link" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="box2__4">
                        <h2 class="services__small-title">Активно развивающиеся страны...</h2>
                        <a class="services__link" href="">Подробнее</a>
                    </div>
                </article>
            </div>
            <div class="grid__rigth services__stock-tablet2">
                <div class="services__stock">
                    <div class="services__stock-tablet768">
                        <div>
                            <h4 class="services__discount">Акция!</h4>
                            <p class="services__discount__text">Только в июне</p>
                        </div>
                        <svg class="services__duscount-img">
              <use xlink:href="img/sprite.svg#discount"></use>
            </svg>
                    </div>
                    <p class="services__small-text">1,5 часа портретной съемки + ретушь 10 снимков</p>
                    <button class="btn-reset hero__btn">Узнать больше</button>
                </div>
                <h2 class="services__title-2 services__title2-tablet">Выполненные работы</h2>
                <div class="services__rigth-box services__rigth-box-2 services__rigth-box-2 services__box-tablet">
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_1-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_1-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_1.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_2-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_2-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" class="services__foto-box2" src="img/completed_works2_2.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_3-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_3-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_3.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_4-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_4-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_4.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_5-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_5-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_5.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_6-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_6-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_6.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_7-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_7-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_7.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_8-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_8-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_8.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_9-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_9-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_9.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_10-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_10-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_10.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_11-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_11-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_11.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_12-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_12-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_12.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_13-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_13-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_13.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_14-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_14-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_14.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_15-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_15-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_15.jpg" alt="фото">
                        </picture>
                    </div>
                    <div class="services__rigth">
                        <picture>
                            <source srcset="img/completed_works2_16-mobail.jpg" media="(max-width: 760px)">
                            <source srcset="img/completed_works2_16-table.jpg" media="(max-width: 1320px)">
                            <img class="services__2-foto" src="img/completed_works2_16.jpg" alt="фото">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
